{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
    .product{
        border: 3px dotted white;
    }
    
    .store-body{
        width: 100%;
    }
</style>

<div class = "container">
    <div class = "d-flex flex-column align-items-center m-auto store-body">
        {% if request.user.is_authenticated %}
            <h1 class = "text-center">Howdy {{request.user.username}} & Welcome to the Wild West Cowboy Store!</h1>

        {% else %}
            <h1 class = "text-center">Howdy Partner & Welcome to the Wild West Cowboy Store!</h1>

        {% endif %}

        <div class = "d-flex flex-column img-thumbnail rounded welcome_photo">
            <img src = "{% static 'store_home_photo.jpg' %}">
        </div>

        <!-- Products -->
        {% if products %}
            <h2>These are some of our finest products!</h2>

            <div class = "row col-md-12">
                {% for product in products %}
                <div class = "d-flex flex-column col-4 product m-auto p-2">
                    {% include 'store_front/snippets/body_snippet.html' with value=product %}
                </div>
                {%  endfor %}
            </div>
        <!-- End Products -->

            <h1 class = "text-center">Please get in contact with our ranch hands regarding any purchases and sizing!</h1>

        {% else %}
            <h2>Looks like we better start stockin' the shelves!</h2>

        {% endif %}
    </div>
</div>

{% endblock content %}