<!DOCTYPE html>

<html>

    <head>
        <title>Wild West Cowboy Store</title>
        <h1>Howdy Partner & Welcome to Wild West Cowboy Store!</h1>

        {% if request.user.is_authenticated %}
            <p>Howdy, {{request.user.username}} | <a href = "{% url 'logout' %}">Logout</a></p>

        {% else %}
            <p><a href = "{% url 'register' %}">Register</a> | <a href = "#">Login</a></p>

        {% endif %}
    </head>

    <body>

        {%  block content %}

        {% endblock content %}

    </body>

    <footer>

        <h2>Y'all come on back now!</h2>

    </footer>

</html>